<% include ./header %>

<h1><strong>Contact</strong></h1>

<div class="centered">
    <p><i class="fas fa-phone"></i>  Phone: (864) 313-6504</p>
    <p><i class="far fa-envelope"></i>  E-mail: <a href="mailto:mcwatera@gmail.com">mcwatera@gmail.com</a></p>
    <p><i class="fab fa-linkedin"></i>  Linkedin: <a href="http://www.linkedin.com/in/mcwatera">Ainsley McWaters's Profile</a></p>
    <p><i class="fab fa-github"></i>  Github: <a href="https://github.com/mcwatera">Github Profile</a></p>
</div>

<% include ./footer %>