<!DOCTYPE html>
<html>
    <head>
        <title>Ainsley McWaters</title>
        <link rel="SHORTCUT ICON" href="logoico.ico" type="image/x-icon" />
        <link rel="ICON" href="logoico.ico" type="image/ico" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=K2D:400,700|Open+Sans:400,700|Raleway:400,700" rel="stylesheet">
         <link type="text/css" rel='stylesheet' href='stuff.css'>
    </head>
    <body>
        
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fas fa-book"></i> AGM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/missionStatement"><i class="fas fa-graduation-cap"></i> Mission Statement</a></li>
        <li><a href="/resume"><i class="far fa-file"></i> Resume</a></li>
        <li><a href="/wwtbht"><i class="fab fa-pagelines"></i> WWTBHT</a></li>
        <li><a href="/wardOne"><i class="fas fa-map-marked-alt"></i> Ward One</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/personalBio"><i class="fas fa-user-graduate"></i> Bio</a></li>
        <li><a href="/contact"><i class="fas fa-address-card"></i> Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>