<% include ./header %>

<h1 class="icons"><i class="fas fa-book-open"></i> <i class="fas fa-plus"></i> <i class="fas fa-laptop-code"></i></h1>

<div class="centered">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In combining a computer science degree with a degree in English literature, I aim to contribute to the field of literary studies and digital humanities.  By utilizing technological tools, literature has the potential to regain traction as a potent and relevant field of study as an ongoing artifact of human history, psychology, and experience.  My research covers the topics of statistical analysis of textual data acquired through text-processing algorithms, website design and deployment for the sharing of research and core texts, and the creation of virtual realities to further engage a larger populace with interactive, accessible technologies.  All of the skills I have--and will have--developed I hope to utilize in order to engage a larger populace with literature and literary study.</p>
</div>

<% include ./footer %>