<% include ./header %>

<h1><strong>Bio (About Me)</strong></h1>

<img class="profileimage" src="./photo.jpg">

<div class="centered">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I am a student in Computer Science at the University of South Carolina, and I have already achieved a B.A. in English Literature from the same institution  My research interests include Digital Humanities and Early American literature.  During my first degree at USC, I receivedn several awards such as the J. Gordon Belser Scholarship (2013), the Distinguished Senior Award (2014), and Carey K. Smith Jr. Award (2015)--all for achievements in undergraduate English studies.  I presented a paper at the Popular Cultural Association's annual conference in 2015 entitled “When I Heard the Learn’d Astronomer: Walt Whitman’s Influences both Physical and Thematic in Breaking Bad”. Currently, I am working on digitizing early American newspapers for Chronicling America and developing a companion site to The Walt Whitman Archive that allows interactors to explore the usage of key words in reviews of Whitman’s works that were published during his lifetime.</p>   
</div>

<% include ./footer %>