<% include ./header %>

<h1><strong>Resume</strong>  <a class="download-file" href="ENGL_McWaters_resume.pdf"
   download="ENGL_McWaters_resume.pdf"><i class="fas fa-file-download"></i></a></h1>
<!--<div class="iframe-div">-->
<!--    <iframe src="https://drive.google.com/file/d/1ygrp6NNX7CHEVvvL_GpuwqROXEVmY1Ai/preview" width="200" height="250"></iframe>-->
<!--</div>-->

<div class="resume">
    <h2 class="resume-name">Ainsley McWaters</h2>
    <p>1008 South Kilbourne Rd. Columbia, SC 29205</p>
    <p>864-313-6504 // mcwatera@gmail.com</p>
    <h3>Education</h3>
        <p><strong>Bachelor of Science: </strong>Computer Science, 2020<br>
        <strong>University of South Carolina -</strong> Columbia, S.C.
        <ul>
            <li>Magellan Research Grant Recipient - “Walt Whitman, Told By His Time</li>
        </ul>
        </p>
        
        <p><strong>Bachelor of Arts: </strong>English, 2015<br>
        <strong>University of South Carolina -</strong> Columbia, S.C.</p>
        <ul>
            <li>GPA: 4.0</li>
            <li>Phi Beta Kappa Member</li>
            <li>INK! Undergraduate English Association President, 2014-2015</li>
            <li>The Lettered Olive Undergraduate Creative Journal Co-Editor-in-Chief, 2014-2015</li>
        </ul>
    <h3>Skills</h3>
        <ul>
            <li>Proficient in Java</li>
            <li>Basic CSS/HTML</li>
            <li>Basic Swift</li>
            <li>Basic MongoDB</li>
        </ul>
    <h3>Work History</h3>
        <p><strong>Quality Assurance Intern</strong>, 11/2017 to Current<br>
        <strong>Swampfox Technologies Inc. -</strong> Columbia, S.C.
        <ul>
            <li>Test user interfaces for defects and quality</li>
            <li>File defects into JIRA to keep up-to-date with testing progress</li>
            <li>Interface with developers to discuss problems and potential solutions</li>
            <li>Design and implement test plans for further organization of workflow</li>
        </ul>
        </p>
        
        <p><strong>Digital Collections Assistant</strong>, 08/2018 to Current<br>
        <strong>Thomas Cooper Library - University of South Carolina -</strong> Columbia, S.C.
        <ul>
            <li>Scan microfilm into processing software using Mekel Technology Microfilm Scanner</li>
            <li>Input and edit metadata for historical newspaper documents</li>
            <li>Crop and adjust scanned images using Adobe Photoshop</li>
        </ul>
        </p>
        
        <p><strong>Online Court Researcher</strong>, 01/2016 to 11/2017<br>
        <strong>General Information Services -</strong> Chapin, S.C.
        <ul>
            <li>Obtained criminal histories by searching through a variety of databases</li>
            <li>Organized collected information into readable formats</li>
            <li>Communicated with coworkers to ensure work was completed in a timely manner</li>
            <li>Worked independently to meet daily quotas</li>
        </ul>
        </p><br><br>
</div>

<% include ./footer %>