<% include ./header %>

<h1>The Ward One iOS App</h1>

<div class="centered">
    <p>The Ward One iOS App is an app that has been in development for some time, as each time the Critical Interactives class was offered at the University of South Carolina, a new iteration of the app would come into near-fruition.  However, during the summer of 2018, I worked with the Center for Digital Humanities at the University of South Carolina on the initial work for the final iteration before the first official version's release.  I coded the front-end in Swift, designing views for each screen and implementing logic for demo modes and color-schemes.  The project was passed off to continue work at the beginning of the fall semester of 2018.</p>
</div>

<img src="WardOne.PNG" class="wardOne-image">

<% include ./footer %>