<% include ./header %>

<h1 class="WWTBHTH1">Walt Whitman: Told By His Time</h1>
<span class="summ"><p>A Digital Humanities project that analyzes use of keywords from reviews of Walt Whitman's work during his lifetime</p></span>

<div class="images">
    <img class="wwtbht-image" src="wwtbhthome.png">
</div>

<img class="vine" src="Ainsley1.png">

<div class="centered">
    <p>Walt Whitman: Told By His Time is a project that aims to analyze the shift in perception of Walt Whitman's persona throughout his lifetime.  It accomplishes this analysis by utilizing keywords found in reviews of his work during his lifetime.  All documents in the database are retrieved from <a href="https://whitmanarchive.org/">The Walt Whitman Archive</a>.
    The project was proposed to and chosen for a Magellan Undergraduate Research Grant at the University of South Carolina, and will be completed December of 2018.  The companion website to the project allows interactors to search based on keywords to read the reviews.  Furthermore, the keywords are then analyzed using the R statistical programming language and made into graphs to visualize the trends in shifting perceptions of Walt Whitman's perceived character.</p>
</div>

<img class="vine" src="Ainsley1.png">

<div class="images">
    <img class="wwtbht-image" src="Rexample.jpg">
    <img class="wwtbht-image" src="Rexample2.jpg">
</div>

<div class="summ">
    <p>Note to viewer of this site: textual processing in R has not been completed for the WWTBHT project, the images seen here are only a demonstration of how the graphs will generally appear.  Source for images is: <a href="https://programminghistorian.org/en/lessons/basic-text-processing-in-r">here</a>.</p>
    <p>vine image custom-designed for the WWTBHT site by Joshua Brown</p>
</div>

<% include ./footer %>